<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">
      <div id="viewport">
        <div id="canvas-container">
          <div class="whitescreen"/>
        </div>
        <div id="controls">
          <span id="sound-state"> Mute </span>
        </div>
      </div>
    </div>
  </body>
</html>
